@define-color background-color {{colors.surface_container_low.default.hex}};
@define-color border-color {{colors.outline_variant.default.hex}};
@define-color label {{colors.on_surface.default.hex}};
@define-color image {{colors.on_surface_variant.default.hex}};
@define-color progress {{colors.primary.default.hex}};
