@define-color selected-text {{colors.primary.default.hex}};
@define-color text {{colors.on_surface.default.hex}};
@define-color base {{colors.surface.default.hex}};
@define-color border {{colors.outline.default.hex}};
@define-color foreground {{colors.on_surface.default.hex}};
@define-color background {{colors.surface_container_low.default.hex}};
